
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-12 col-md-6 border-info">
      <div class="card border-info">
        <div class="card-header">
          <h3 class="text-center text-info">CHECKOUT</h3>
          <p class="text-center text-secondary">{{user?.email}}</p>
        </div>
      <form class="card-body">
        <div class="row">
          <div class="col-md-6 mb-0">
            <!--firstName-->
            <div class="md-form ">
              <label for="firstName" class="">First name</label>
              <input type="text" id="firstName" class="form-control">                    
            </div>
          </div>

          <div class="col-md-6 mb-4">
            <!--lastName-->
            <div class="md-form">
              <label for="lastName" class="">Last name</label>
              <input type="text" id="lastName" class="form-control">                    
            </div>
          </div>
        </div>

        <!--email-->
        <div class="md-form mb-3">
          <label for="email" class="">Email</label>
          <input type="text" id="email" class="form-control" placeholder="name@email.com" [value]="user?.email">                
        </div>

        <!--address-->
        <div class="md-form mb-3">
          <label for="address" class="">Address</label>
          <input type="text" id="address" class="form-control" placeholder="Street">                
        </div>

        <!--address-2-->
        <div class="md-form mb-3">
          <input type="text" id="address-2" class="form-control" placeholder="Apartment number">                
        </div>


        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Choose...</option>
              <option>Sweden</option>
              <option>Bangladesh</option>
              <option>Japan</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-3">
            <label for="state">City</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option>Stokholm</option>
              <option>Dhaka</option>
              <option>Tokyo</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>         
      </form>
     </div>
    </div>
  </div>
</div>
  