<div class="container-fluid pl-5 pr-5 mxl-md-5 mr-md-5 mb-5">
  <div class="row">
    <div class="col-lg-12 mx-auto mb-5">
     <div class="card">
       <div class="row">
        <div class="col-lg-2">

       </div>
       <div class="col-lg-3 my-md-2 py-5">
       <div class="card-header border-1">
           <img style="width:100%" [src]="product.thumbnail">
       </div>
       </div>

       <div class="col-lg-3 m-0">
       <div class="card-block py-5">
           <h3 class="card-title text-secondary"> {{product.title}} </h3>
           <p class="card-text"> {{product.summary}} </p>
           <h5 class="text-info">Price: {{product.price}} </h5>
            <label class="text-secondary" for="quantity">Quantity</label>
           <input name="quantity" min="1" type="number" class="quantity" v-model="product.quantity">
           <button class="btn btn-success btn-sm">ADD TO BAG</button>

         <div class="mt-3">
           <!-- <router-link to="/men" class="btn btn-outline-info btn-sm"><i class="fa fa-angle-left"></i> Continue Shopping</router-link>
           <router-link to="/cart" class="btn btn-outline-info btn-sm ml-3"> Shopping Cart <i class="fa fa-angle-right"></i></router-link> -->
         </div>
         </div>
       </div>

       <div class="col-lg-4 ml-4">

       </div>


       </div>
       <div class="w-100"></div>

       </div>
    </div>
    </div>
  </div>
