<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-6">
        <div class="card border-info">
          <div class="card-header"><h3>LOG IN</h3></div>
          <div class="card-body">
            <div class="row">

              <div class="col-md-7">
                <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="email" required>
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password invisible" [disabled]="!email" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="password" required>
                  </div>
                  <button type="submit" class="btn btn-success" [disabled]="!email || !password">Log In</button>
                  <input [routerLink]="['/register']" type="button" class="btn btn-warning ml-3" value="Register"/>
                  <p class="text-center" *ngIf="invalidForm">Email or the Password does not match !!</p>
                </form>
              </div>

              <div class="col-md-5 text-center">
                <img src="https://placeimg.com/160/160/nature">
              </div>
            </div>
           </div>
          </div>
        </div>
    </div>
</div>
