<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-6">
        <div class="card border-info">
          <div class="card-header"><h3>LOG IN</h3></div>
          <div class="card-body" style="background: url(../assets/nova.gif); background-size: cover; width: 100%">
            <div class="row">

              <div class="col-md-7">
                <form (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" placeholder="email" required>
                  </div>
                  <div id="pass-input" class="form-group">
                    <label for="password">Password</label>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" placeholder="password" required>
                  </div>
                  <button type="submit" class="btn btn-success d-none">Log In</button>
                  <p class="text-center" *ngIf="invalidForm">Email or the Password does not match !!</p>
                </form>
              </div>

              <div class="col-md-5 d-none d-sm-block text-secondary">
                 <p>To Login. ...<br>
                    (1) - Write your email and press "Enter"<br>
                    (2) - Write your password & after that<br>
                          press "Ctrl" and say "Submit" <br><br>
                    To get Register from. ...<br>
                    Press "Ctrl" and say "Sign up"
                 </p> 
              </div>
            </div>
           </div>
          </div>
        </div>
    </div>
</div>
