<div class="container" >
    
	<table id="cart" class="table table-hover table-condensed">
        <thead>
            <tr>
                <th style="width:40%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:18%" class="text-center">Subtotal</th>
                <th style="width:15%">Remove</th>
            </tr>
        </thead>
   
        <tbody >
      
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img [src]="cartData.thumbnail" alt="..." class="img-responsive w-100"/></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{cartData.title}}</h4>
                            <p>{{cartData.summary}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">{{cartData.price}} kr</td>
                <td data-th="Quantity">
                    <input name="quantity" min="1" type="number" class="quantity px-2" v-model="item.quantity">
                </td>
                <!-- <td data-th="Subtotal" class="text-center">{{(item.price*item.quantity).toFixed(2)}} kr</td> -->
                <td class="actions" data-th="">
                    <!-- <button class="btn btn-info btn-sm"><i class="fa fa-sync"></i></button> -->
                    <!-- <button class="btn btn-danger btn-sm px-2 mx-3" @click="removeItem()"><i class="fas fa-minus-square"></i></button>								 -->
                </td>
            </tr>
        </tbody>
      
  
        <tfoot>
            <tr>
                <!-- <td><router-link to="/women" class="btn btn-outline-info btn-sm"><i class="fa fa-angle-left"></i> Continue Shopping</router-link></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center">TOTAL <strong> {{total.toFixed(2)}} kr</strong></td>
                <td><router-link to="/cart/checkout" class="btn btn-success btn-sm px-4">Checkout <i class="fas fa-angle-right"></i></router-link></td> -->
            </tr>
        </tfoot>
 
    </table>

 </div>    
