.route-link{
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li{
    font-size:  1.2rem;
    text-align: center;
}

ul .text-select{
    color: rgb(43, 40, 255);
    font-size: 2rem;
}
ul .s{
    font-size: 1.5rem;
    color: rgb(255, 41, 41);
}

ul .p-name{
    font-size: 1.5rem;
    color: rgb(255, 41, 41);
}

.pro-header{
   background: none;
}
.pro-text{   
    color: #c9a32b;
}

.pro-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.pro-body{
    background: #fff;
}