<div class="container-fluid mt-2 mb-5">

  <div class="row">
    <div class="col-12">
        <div class="my-2">
            <ul class="intro-text">
                <li>To listen available products, please press "P"</li> 
                <li class="text-select">To select an item ...</li>
                <li>Press "<span class="s">Ctrl</span>", and then say the "<span class="p-name">Product Name</span>"</li>
            </ul>
            <h4 class="text-center text-warning pt-4">PRODUCTS AVAILABLE</h4>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3 com-sm-6" *ngFor="let product of products">
      <a class="route-link" [routerLink]="['/products', product.id]"> 
      <div class="card">
           <div class="card-header">
               <img [src]="product.content.thumbnail" class="card-img-top">
           </div>
           <div class="card-block py-3 text-center">
               <h5 class="card-title text-info">{{product.content.title}}</h5>
               <p class="card-text">Price: {{product.content.price}} SEK</p>
               <!-- <a [routerLink]="['/products', product.id]" class="btn btn-outline-info btn-sm">More details</a> -->
           </div>
       </div>
      </a>
    </div>

  </div>
</div>
