<div id="cnt" class="container">

  <div class="row mx-auto">
    <div class="col-lg-4 col-md-6 col-sm-12 pt-5 mt-5">
      <div class="portrait pt-3">
          <h2 class="text-info pt-5 mt-5 text-right pr-4">WELCOME TO <span class="brand">SUPERNOVA</span></h2>  
            
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 mt-2 order-2 d-none d-sm-block border border-info">
      <div class="row" style="background-image: url('./assets/ava.jpg'); background-size: cover; opacity: 10%;">
          <div class="col-lg-12 col-md-6 col-sm-12 mt-4" style="width: 100%; height: 310px">
              <div class="p-5">
                  
              </div>
          </div>
    </div> 
    </div> 

    <div class="col-lg-4 col-md-12 col-sm-12 mt-4 order-3">
      <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-12 pt-5">
              <div class="women_g pl-4 pt-5 mt-5 line-hg">
                  <h2 class="text-warning m-0 mt-4">GO</h2>
                  <h2 class="text-success p-0 m-0">PRODUCT PAGE</h2>
                  <ul class="intro-text pl-0 pt-0 mt-0">
                      <li>PRESS "<span class="s">Ctrl</span>" & SAY "<span class="p-name">PRODUCT</span>"</li>
                  </ul> 
              </div>
          </div>
    </div> 
  </div> 
</div>

<!-- SECOND ROW -->
<div class="row mx-auto">
    <div class="col-lg-4 col-md-6 col-sm-12 border border-warning" >
      <div class="row">
      <div class="py-5 pl-2 ml-5">
          <div><h6 class="text-secondary mt-2 ml-0">@ author: </h6>
          <h2 class="ml-0" style="color:rgb(0, 199, 139); font: 2.0em sans-serif;">MRIDUAVA</h2></div>
          <div class="author-info"><p class="text-secondary ml-0">@ idea: DEEPTHY NAIR</p>
          <p class="text-secondary ml-0">@ code: MARUF AHMED</p>
          <p class="text-secondary ml-0">@ email:</p>
          <p class="text-secondary ml-0">maruf.ahmed@live.se</p>
         </div>
     </div>
    </div>
   </div>
 

    <div class="col-lg-4 col-md-12 col-sm-12 d-none d-sm-block border-bottom border-secondary">
      <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-12 pt-4 mt-4">
              <div class="women_g pt-2">
                  <h3 class="text-center text-secondary">ONLINE SHOP</h3> 
                  <h5 class="text-center text-info">FOR</h5>
                  <h2 class="text-center" style="color:#c9a32b;">VISUALLY IMPAIRED PERSON</h2>                 
              </div>
          </div>
      </div> 
   </div> 

    <div class="col-lg-4 col-md-12 col-sm-12 order-3 border border-success">
      <div class="row">
          <div class="col-lg-12 col-md-6 col-sm-12 " style="width: 100%; height: 280px; opacity: 100%">
            <div class="py-5 pl-2 ml-4 author-info">
              <div><h6 class="text-secondary mt-3 ml-0">@ info: </h6>
                <p class="ml-0" style="color:rgb(199, 7, 0); font: 1.0em sans-serif;">This is a demo site for testing...</p>
              </div>
                <p class="text-secondary">@ browser: GOOGLE CHROME</p>
                <p class="text-secondary ml-0">@ voice: PRONOUNCE CORRECTLY</p>
                <p class="text-secondary ml-0">@ media:</p>
                <p class="text-secondary ml-0">not mobile friendly. use computer.</p>              
          </div> 
          </div> 
       </div>
    </div>
  </div>