<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-12 col-md-6">
        <div class="card border-info">
          <div class="card-header"><h3>REGISTER</h3></div>
          <div class="card-body">
            <div class="row">   
     
            <div class="col-md-7">
            <form (ngSubmit)="register(registerForm)" #registerForm="ngForm">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email" value="" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" value="" required>
                </div>
                <button type="submit" class="btn btn-warning" [disabled]="!email || !password">Register</button>
                <input [routerLink]="['/login']" type="button" class="btn btn-success ml-3" value="Log In"/>
              </form>
            </div>

            <div class="col-md-5 text-center">
              <img src="https://placeimg.com/160/160/nature">
            </div>
          </div>
         </div>
        </div>
      </div>
  </div>
</div>